import {memo, FC} from 'react';

interface Props {}

const {{pascalCase name}}:FC<Props> = () => {
    return (
        <div>
            <h1>{{pascalCase name}}</h1>
        </div>
    );
};

export default memo({{pascalCase name}});