import {memo, FC} from 'react';

interface Props {}

const {{pascalCase componentName}}:FC<Props> = () => {
    return (
        <div>
            <h1>{{pascalCase componentName}}</h1>
        </div>
    );
};

export default memo({{pascalCase componentName}});